@font-face {
    font-family: "APOLLO";
    src: url(font/APOLLO.otf);
}
:root {
    --verdeEscuro: #027449;
    --verdeMedio: #3b9b75;
    --verdeClaro: #8ee0b7;
    --bege: #ffdead;
    --bgBranco: #F0F3F5;
    --bgTextArea: #E2E7EB;
    --bgpagina: #F0F3F5;
}
.bg-pagina{
    background-color: var(--bgpagina);
}
.bg-verdeEscuro {
    background-color: var(--verdeEscuro);
}
.bg-verdeMedio {
    background-color: var(--verdeMedio);
}
.bg-verdeClaro {
    background-color: var(--verdeClaro);
}
.bg-bege {
    background-color: var(--bege);
}
.bg-branco {
    background-color: var(--bgBranco);
}
.bg-TextArea {
    background-color: var(--bgTextArea);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    font-family: 'APOLLO', Arial, Helvetica, sans-serif;
}
.navbar-brand img {
    width: 50%;
}
.fonteIndex {
    font-family: "APOLLO";
    color: var(--verdeEscuro);
}
.bullet-points {
    background-color: #E0FEEF;
    margin: 25px;
}
.centrarAo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}
.paragrafo1 {
    float: left;
    text-align: right;
    width: 80%;
    font-size: 25px;

}
.divisao {
    margin-top: 5%;
}
.divisao h2 {
    color: black;
    font-size: 30px;
}
.divisao h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
}
.banner {
    background-image: url(/images/banner.png);
    background-color: #3b9b75;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 370px !important;
    max-height: 500px !important;
}
.texto {
    font-size: 24px;
    text-align: center;
}
body {
    background-color: var(--bgBranco) !important;
}
header {
    background-color: var(--verdeEscuro) !important;
}
.quebra {
    white-space: pre-line;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    justify-content: space-around;
    display: block;
    padding: 15px;
}
.form-pesquisa {
    padding: 60px;
}
.form-pesquisa-input input {
    background-color: var(--bege);
    border-radius: 30px;
    height: 45px;
    width: 90%;
    border: none;
    padding: 5px;
}
.form-pesquisa-input input:hover {
    border: 1px solid black;
}
.form-pesquisa-input button {
    background-color: var(--bege);
    border-radius: 100%;
    margin-left: -48px;
    width: 45px;
    height: 45px;
    border: none;
}
.form-pesquisa-input button:hover {
    border: 1px solid black;
    cursor: pointer;
}
.header-image {
    align-self: center;
    width: 65%;

}
.input-buttons {
    display: flex;
    align-items: center;
}
.input-buttons button {
    border-radius: 30px;
    background-color: var(--bege);
    width: 25%;
    border: none;
    margin: 2px;
}
.faixa {
    height: 40px;
}
.flex-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: no-wrap;
    overflow-x: auto;
}
.card {
    padding: 50px;
    margin: 10px;
    background-color: var(--verdeClaro) !important;
    border-radius: 100%;
    border-radius: 10px; /* Changed from 100% to 10px */
    display: flex; /* Added flex display */
    flex-direction: column; /* Added flex-direction for vertical alignment */
    align-items: center;
    align-items: center;
    min-width: 215px !important;
    max-width: 300px;
    height: 350px;
}
.card img {
    width: 150px;
}
.card h1 {
    margin-top: 15px;
    font-size: 25px;
}
.caixa-flex {
    display: flex;
    justify-content: space-around;
    border: 1px solid #F0F3F5;
    flex-direction: column;

}
.box img {
    width: 200px;
}
.caixa1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 25px;
}
.arroz {
    border: solid 1px var(--verdeMedio);
    background-color: var(--verdeMedio);
    border-radius: 10px;
}
.form-login-index h3 {
    font-size: 55px;
}
.form-login-index {
    display: flex;
    flex-direction: column;
    margin: 15px;
    color: #ffffff
}
.form-login-index a {
    color: var(--bgBranco);
}
.form-login-index input {
    background-color: var(--bege);
    border: none;
    border-radius: 25px;
    margin: 15px;
    width: 80%;
    height: 50px;
    align-items: center;
}
.form-login-index input:hover {
    border: 1px solid black;
}
.form-login-index button {
    font-size: 20px;
    background-color: var(--bege);
    width: 30%;
    margin-top: 10px;
    margin-left: 25%;
    border-radius: 25px;
    border: none;
    border: 25px;
    cursor: pointer;

}
.form-login-index button:hover {
    border-radius: 1px solid black;
}
.batata {
    text-align: center;
    margin: 150px;
}
.feedFull{
    margin-top: 10px;
}
.grupPost {

    border: solid 1px var(--verdeMedio);
    background-color: var(--verdeMedio);
    border-radius: 10px;
    width: 100%;
}
.grupPost img {
    margin: 30px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: #F0F3F5;
}
.grupPost input {
    background-color: var(--bgTextArea);
    margin-top: 50px;
    border: none;
    border-radius: 25px;
    margin: 0px;
    width: 80%;
    height: 70px;
    align-items: center;
}
.grupPost input:hover{
    border: 1px solid var(--bege);
}
#pubText{
    border-radius: 25px;
    padding: 5px;
    background-color: var(--bgTextArea);
    border: none;
}
#pubText:hover{
    border: 2px solid var(--verdeEscuro);
}
.grupPost-vaga {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.evaga{
    width: 25px!important;
    margin-top: 5px!important;
    margin-right: 15px!important;
}
.feed {

    border-radius: 20px;
    background-color: #F9F9F9;
}
.feed-perfil {
    padding: 5px;
    
}
.feed-perfil img{
    margin: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.post-user-name {
    font-size: 10px;
    
}
.azul img{
    right: 70px;
    width: 70px;
    margin: -50px;
    border-radius: 50px;
    background-color: var(--bgBranco);
}
.azul-a{
    background-color: var(--verdeEscuro);
    height: 40px;
    border-radius: 10px;
    width: 70%;
    margin-left: 10%;
  
}
.azul-b{
    background-color: var(--bgTextArea);
    
    text-align: center;
    border-radius: 10px;
    width: 70%;
    margin-left: 10%;
    }
.azul-b2{
   margin-top: 30px;
   text-align: center;
}
.azul-b3{
    text-align: left;
    margin-left: 5%;
    padding: 8px;
}
.azul-claro{
   
    margin: 50px;
    width: 25% ;
}
.Vagas{
    background-color: var(--verdeEscuro);
    border-radius: 10px;
    height: 35px;
    width: 80%;
}
.Vagas1{
    background-color: var(--bgTextArea);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
}
.d{
    font-weight: bold;
}
.buscando img{
    height: 50px;
    width: 50px;
    text-align: left;
    background-color: var(--bgBranco);
    border-radius: 50px;
    margin-top: 5px;
    display: flex;
    margin-left: 5px;
}
.buscando{
    
    background-color: var(--verdeClaro);
    border-radius: 10px;
    margin-bottom: 5px;
    
}
.descricao{
    margin: 30px;
    margin-top: 60px;

}
.alinhamento1{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    align-items:center ;
    margin-left: 10px;
}
.alinhamento2{
    text-align: center;
    font-size: 16px;
    margin-top: -8px;
   
}
.alinhamento3{
    text-align: left;
    font-size: 13px;
    margin-left: -40px;
    margin-top: 10px;
   
   
}
.feed-img{
    display: flex;
    justify-content: space-around;
    padding: -10%;
   
    
  
}
.feed-img img{
    width: 500px;
    margin-left: -10px;
}
.feed-post{
   margin-top: -45px;
}
.feed-reage-button{
    margin-top: 25px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
.feed-reage-button button{
    border-radius: 10px;
    width: 180px;
    
}
.grupPost-textArea{
    width: 70% !important;

}
.APOLLO{
    font-family: APOLLO;
    background-color: #F0F3F5;
}
.papel_parede{
    width: 100%;
    height: 250px;

}
.papel_parede img{
    width: 100%;
    height: 300px;
}
.rosto_novo{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.descricao{
    margin-top: 60px;

}
.rosto_novo img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: -155px;
    
}
.rosto_novo h2,h6,h5{
    margin-left: 25px;
    margin-top: 10px;
}
.contato_capy{
    display: flex;
    margin-left: 25px;
    margin-top: 10px;
}
.contato_capy a{
    text-decoration: none;
}
.faixa-verde{
    height: 50px;
    width: 100%;
    background-color: #027449;
}
.ajuste-nome{
    margin-right: 50%;
    margin-left: -200px;
}
.botao-bonito{
    margin: 10px;
    border-radius: 25px;
    height: 40px;
    width: 100px;
    font-size: 23px;
}
.botao-bonitofeed{
    border-radius: 15px;
    height: 40px;
    width: 150px;
    font-size: 20px;
    align-items: center;
    border:none;
}
.margin-pub{
    display: flex;
    justify-content: space-between;
    background-color: #E2E7EB;
}
.pub-perfil img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
}
label {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
 }

 #upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
 }
#preview{
    background-color: white;
    border-radius: 0px;
    width: 80%;
    height: 450px;
    margin:auto ;
    display: none;
}
.btn-like{
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: solid var(--verdeEscuro) 1px;
    text-decoration: none;
}
.btn-like:hover{
    text-decoration: none;
    background-color:var(--verdeEscuro);
    color: #ffffff;
}
.btn-liked{
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: var(--verdeEscuro);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
}
.btn-liked svg{
    fill: #ffffff;
}
.btn-liked:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid var(--verdeEscuro);
}
.btn-liked:hover svg{
    fill: var(--verdeEscuro);
}
.btn-edit{

    font-weight: 900;
    font-size: 14px;
    color: #ffffff;
    background-color: #027449;
    padding: 9px 19px;
    border: none;
    box-shadow: none;
    border-radius: 15px;
    transition : 0ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
details{
    text-decoration: none;
}

details summary{
    list-style: none;
}