@font-face {
    font-family: "APOLLO";
    src: url(/font/APOLLO.otf);
}

:root{
    --verdeEscuro:#027449;
    --verdeMedio:#3b9b75;
    --verdeClaro:#8ee0b7;
    --bege:#ffdead;
    --bgBranco:#F0F3F5;
    --bgTextArea:#E2E7EB;
}

.bg-verdeEscuro{
    background-color: var(--verdeEscuro);
}

.bg-verdeMedio{
    background-color: var(--verdeMedio);
}

.bg-verdeClaro{
    background-color: var(--verdeClaro);
}

.bg-bege{
    background-color: var(--bege);
}

.bg-branco{
    background-color: var(--bgBranco);
}

.bg-TextArea{
    background-color: var(--bgTextArea);
}

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fonteIndex{
    font-family: "APOLLO";
    color: var(--verdeEscuro);
}

.centrarAo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.paragrafo1{
    float: left;
    text-align: right;
    width: 80%;
    font-size: 25px;

}

.divisao{
    float: left;
    width: 100%;
    margin-top: 5%;

}

.seção{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}

.box img {
    max-width: 100%;
    height: auto;
    flex: 1;
    border: 1px solid #000;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}

.texto{
    font-size: 24px;
    text-align: center;
}

body{
    background-color: var(--bgBranco)!important;
}

header{
    background-color: var(--verdeEscuro)!important;
}

.quebra{
    white-space: pre-line;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    justify-content: space-around;
    display: block;
    padding: 15px;
}

.caixaVerde{
    
    width: 10px;
    align-items: center;
    
}

.form-pesquisa-input{
    margin-top: 20%;

}

.form-pesquisa-input input{
    background-color: var(--bege);
    border-radius: 30px;
    height: 45px;
    width: 90%;
    border: none;
    padding: 5px;
}

.header-image{
    align-self: center;
    width: 65%;
    
}

.input-buttons{
    display: flex;
    align-items: center;
}

.input-buttons button{
    border-radius: 30px;
    background-color: var(--bege);
    width: 25%;
    border: none;
    margin: 2px;
}

.faixa{
    width: 100%;
    height: 40px;
}
