.container-custom {
    margin: 10%;
    font-family: 'Apollo';
}

.container-custom a {
    color: #8d8989;
    
}

.tittle {
    font-size: 80px;
}

.subTittle {
    font-size: 45px;
    margin-left: 20px;
}

.form-login {
    display: flex;
    flex-direction: column;
    margin: 15px;
    -webkit-box-shadow: 0px 0px 36px -10px rgba(97,83,97,1);
    -moz-box-shadow: 0px 0px 36px -10px rgba(97,83,97,1);
    box-shadow: 0px 0px 36px -10px rgba(97,83,97,1);
}

.form-login input {
    background-color: var(--bege);
    border: none;
    padding: 15px;
    border-radius: 25px;
    margin: 15px;
    width: 85%;
    height: 50px;
    font-size: 25px;
}

.form-login input:hover {
    border: 1px solid black;
}

.form-login button {
    background-color: var(--bege);
    width: 30%;
    margin-top: 10px;
    margin-left: 15%;
    border-radius: 25px;
    border: none;
    border: 25px;
    cursor: pointer;
}

.form-login button:hover {
    border-radius: 1px solid black;
}

.img-grande {
    margin: 15px;
    width: 80%;
    margin-top: 5%;
}

.flex-generic {
    display: flex;
}

.flex-generic h3 {
    margin-left: 5px;
    margin-right: 5px;
    color: #8d8989;
}