@media screen and (max-width: 500px){
 .disabled1{
    display: none;
 }

 .feed-img img{
   width: 400px;
 }
 .form-header{
   width: 140px !important;
 }
 .grupPost-textArea{
   width: 100%;
 }

 .caixa1{
    justify-content: center;
 }
 .batata{
    margin: 0px;
    margin-bottom: 25px;
 }
 #mini-feed{
   flex-direction: column;
 }
}
@media screen and (max-width: 1200px){
   .disabled2{
      display: none;
   }
   
}